<h1>Products</h1>
<ul>
    {{#each products}}
    <li>ID: {{this.id}} - {{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.status}} - {{this.stock}} - {{this.category}}</li>
    {{/each}}
</ul>
