<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Products</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="">
        <h1>Real Time Products</h1>
        <form id="productForm">
            <input type="text" id="title" placeholder="Title" required>
            <input type="text" id="description" placeholder="Description" required>
            <input type="text" id="code" placeholder="Code" required>
            <input type="number" id="price" placeholder="Price" required>
            <select id="status" required>
                <option value="true">Available</option>
                <option value="false">Unavailable</option>
            </select>
            <input type="number" id="stock" placeholder="Stock" required>
            <input type="text" id="category" placeholder="Category" required>
            <button type="submit">Add Product</button>
        </form>
        <ul id="productList">
            {{#each products}}
            <li data-id="{{this._id}}">
                ID: {{this._id}} - {{this.title}} - {{this.description}} - {{this.code}} - {{this.price}} - {{this.status}} - {{this.stock}} - {{this.category}}
                <button class="deleteBtn">Delete</button>
            </li>
            {{/each}}
        </ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        document.getElementById('productForm').addEventListener('submit', function(e) {
            e.preventDefault();
            const product = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                code: document.getElementById('code').value,
                price: parseFloat(document.getElementById('price').value),
                status: document.getElementById('status').value === 'true',
                stock: parseInt(document.getElementById('stock').value),
                category: document.getElementById('category').value,
            };
            socket.emit('newProduct', product);
        });

        document.getElementById('productList').addEventListener('click', function(e) {
            if (e.target.className === 'deleteBtn') {
                const productId = e.target.parentElement.getAttribute('data-id');
                socket.emit('deleteProduct', productId);
            }
        });

        socket.on('updateProducts', function(products) {
            const productList = document.getElementById('productList');
            productList.innerHTML = '';
            products.forEach(product => {
                const li = document.createElement('li');
                li.setAttribute('data-id', product._id);
                li.innerHTML = `
                   ID: ${product._id} - ${product.title} - ${product.description} - ${product.code} - ${product.price} - ${product.status} - ${product.stock} - ${product.category}
                    <button class="deleteBtn">Delete</button>
                `;
                productList.appendChild(li);
            });
        });
    </script>
</body>
</html>
